@import url("https://fonts.googleapis.com/css?family=Monoton");

body{
    background-image: url('./image/img_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapText {
    word-wrap: break-word;
}

.mt-3 {
    margin-top: 30px;
}
.mt-5 {
    margin-top: 50px;
}

.cPointer{
    cursor: pointer;
}

.word {
    margin: auto;
    color: white;
    font: 700 normal 4em/1.5 'Montserrat',sans-serif;
    text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
}
  